@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/bundles/styles/site")
    @Scripts.Render("~/bundles/scripts/modernizr")
    

    @RenderSection("head_scripts", required: false)
</head>
<body>
    @RenderBody()
    
    <footer><a href="#">Go to mobile website</a></footer>

    @Scripts.Render("~/bundles/scripts/jquery")
    @Scripts.Render("~/bundles/scripts/jquery-val")
    

    @RenderSection("body_scripts", required: false)

</body>
</html>
