@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, , initial-scale=1.0, maximum-scale=1.0" />
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/bundles/styles/site")
    @Styles.Render("~/bundles/styles/jquery-mobile")
    @Scripts.Render("~/bundles/scripts/modernizr")

    @RenderSection("head_scripts", required: false)
</head>
    <body data-role="page">
        <header data-role="header">
            <span>@ViewBag.Title</span>
        </header>
        <section data-role="content">
            @RenderBody()
        </section>
    
        <footer data-role="footer" data-position="fixed">
            <div data-role="navbar">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </footer>
        
        <br/><a href="#">Go to desktop website</a>
    
        @Scripts.Render("~/bundles/scripts/jquery")
        @Scripts.Render("~/bundles/scripts/jquery-val")
        <script type="text/javascript">
            $(document).bind("mobileinit", function () {
                // jQuery Mobile's Ajax navigation does not work in all cases (e.g.,
                // when navigating from a mobile to a non-mobile page), especially when going    back, hence disabling it.
                $.mobile.pushStateEnabled = false;
                $.mobile.ajaxEnabled = false;
            });
        </script>
        @Scripts.Render("~/bundles/scripts/jquery-mobile")

        @RenderSection("body_scripts", required: false)
    </body>
</html>
